{% extends 'base.html' %}

{% block title %} 
Administrador de Servicio Tecnico
{% endblock title%}

{% block contenido %}
<a class="btn btn-secondary"<a href={% url 'login2'  %}>login2</a>

<a class="btn btn-secondary"<a href={% url 'list_tasks'  %}>tareas</a>

    
    
    
    

    <style>
 
</style>
<center>
  <div class="contenedor" >
  <h1> AdministradorST </H1>
    <h1>Plataforma de Administracion para Locales y Servicios Tecnicos </h1>
    <br>
    <br>
    <IMG SRC="https://i.pinimg.com/550x/6b/65/90/6b6590c4cf6db8eea7add0079d4dab31.jpg" ALIGN=TOP>


      
{% endblock contenido %}